__pycache__/
*.pyc
*.pyo
.env
venv/
.venv/
.streamlit/secrets.toml


# Secrets (raiz + pasta .streamlit)
secrets.toml
.streamlit/secrets.toml

# Temporários
base64_output.json
base64_dump.txt
icon192.txt
icon512.txt
manifest.txt
gerar_base64.py
gerar_icones.py

# OS
.DS_Store
Thumbs.db